{% extends "base_generic.html" %}

{% block content %}
<div class="px-4 py-5 px-md-6 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">


  <h2>Logged out!</h2>
  
  <a href="{% url 'login'%}">Click here to login again.</a>
  
  <div class="px-4 py-5 px-md-6 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
  </div>
  <div class="px-4 py-5 px-md-6 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
  </div>
    <div class="px-4 py-5 px-md-6 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
</div>
<div class="px-4 py-3 px-md-6 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
</div>

{% endblock %}

