{% extends "base_generic.html" %}

 
{% block title %} Login Page {% endblock %}

{% block content %}
<div class="px-4 py-5 px-md-100 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
    
      
<h2> Welcome Back ..</h2>


{% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
  
  <form method="post" action="{% url 'main:index_page'%}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <div class="px-4 py-5 px-md-6 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">

    <input class="btn btn-outline-primary" type="submit" value="login" >
    <input type="hidden" name="next" value="{{ next }}">
  </form>
<hr>
  <!--logout-->
<form method="post" action="{% url 'accounts:logged_out'%}">
    {% csrf_token %}

    <input class="btn btn-outline-danger" type="submit" value="logout" >
    <input type="hidden" name="next" value="{{ next }}">
  </form>



  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
</div>
<div class="px-4 py-5 px-md-100 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
</div>
<div class="px-4 py-3 px-md-100 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">

</div>
{% endblock %}
