{% extends "base_generic.html" %}


{% block content%}
    <div class="container px-5 py-5">
        <div class="container px-5">
            <div class="container px-5">
                <div class="container px-5">

    <div class="container px-5">
<div class="container px-100">

    <h1>About Website..</h1>
    <p>
        When you visit hospitals because you have chronic diseases, or even for any health reason, such as: falls on organs, bruises, accidents, and simple and deep wounds.
        Hospitals will vary so that it is possible for the cities in which you live to vary, so we collect all your information in any city or any hospital, in order to make it easier for those who track your case to understand your sick history and the history of your visits to hospitals, and also that you are sufficiently aware of your history personal satisfactory.</p>
   



{% endblock %}


